@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;0,600;0,700;0,800;0,900;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&display=swap');
@import 'tailwindcss';

@theme {
  --font-display: 'Barlow Condensed', sans-serif;
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
  --color-orange: #e8390e;
  --color-orange-dim: #b82c0a;
  --color-surface: #111111;
  --color-card: #161616;
  --color-border: #1f1f1f;
  --color-muted: #6b6b6b;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #1f1f1f transparent;
}

*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: #1f1f1f;
  border-radius: 2px;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #0a0a0a;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
}
